body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gui {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.gui_turn {
    text-transform: uppercase;
}
